

*  {
    box-sizing: border-box;
}

body {

    margin: 0;
}


/* header component  */

.navigation   {
    
    position: relative;
    display: flex;
    justify-content: flex-start;
    
    font-size: 20px;
    list-style: none;
    background-image: linear-gradient(rgb(9, 71, 87),rgb(18, 123, 141));
    
    
    
}

.navigation ul {
    position: relative;
    
    justify-content: right;
     padding: 0;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: monospace;
    
}

.navigation ul li a {
    cursor: grab;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
     } a:hover{
        color: yellow;
     }
     a:visited {
        color :white;
}




    /* cards */

    
    
 .container {
    margin: 0 auto;
    
}

.container h1 {
    
    text-align: left;
    padding: auto;
    margin: 60px;
    font-family: fantasy;
    color: rgb(15, 15, 116);
     
}

div.card {
    
   display: inline-flex;
   justify-content: center;
    

}

div.card-title.h5 {
    font-family: cursive;
    font-size: larger;
    color: teal;
}





.footer {
    
    display: flex;
    justify-content: center;
    font-family: fantasy;
    color: green;
}