

*  {
    box-sizing: border-box;
    
    }


body {

    margin: 0;
}


/* header component  */



.navigation   {
    
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    font-size: 20px;
    list-style: none;
    background-image: linear-gradient(rgb(9, 71, 87),rgb(18, 123, 141));
    
    
    
}

.navigation ul {
    position: relative;
    
    justify-content: right;
     padding: 0;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-family: monospace;
    
}

.navigation ul li a {
    cursor: grab;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
     } a:hover{
        color: yellow;
     }
     a:visited {
        color :white;
}

h1 {
    font-family: fantasy;
    color: rgb(15, 15, 116);
    text-align: center;


    /* cards */
}

div.container {
    margin: 0;
    padding: 0;
    display: inline;
}

div.card {
    margin-left: 40px;
    margin-top: 20px;
    display: inline-block;

}

div.card-title.h5 {
    font-family: cursive;
    font-size: larger;
    color: teal;
}





.Footer {
    
    
    font-family: fantasy;
    color: green;
    display: flex;
    justify-content: center;
    

    
    
}